<html>
  <head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
    <title> is Monday a bank holiday? </title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41218670-1']);
      _gaq.push(['_setDomainName', 'ismondayabankholiday.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </head>
   <body>
     <header>
       is Monday a bank holiday?
       <div class="country <%= @country %>"> in <span><%= @country.capitalize %> </span></div>
     </header>

     <p>
     <% if @next_monday.is_bank_holiday? %>
       <span class="answer">Yes</span>
       <br>
       <span class="details">
         <b><%= @next_monday.date %></b> is <%= @next_monday.description %>.
       </span>
     <% else %>
       <span class="answer">No</span>
       <br>
       <span class="details">
         the next bank holiday is <b><%= @next_monday.date %></b>, <%= @next_monday.description %>.
       </span>
     <% end %>
     </p>
     <footer>
     <div class="locations">
     <a href="http://cyprus.ismondayabankholiday.com">Cyprus</a>
     <a href="http://england.ismondayabankholiday.com">England</a>
     <a href="http://scotland.ismondayabankholiday.com">Scotland</a>
   </div>
   <div class="sharing">
     <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

   </div>
   <div class="madeby">
     Made by <a href="http://twitter.com/despo">@despo</a>
   </div>
   <div>
     </footer>
   </body>
 </html>
